doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Базы данных
body
  h1 Базы данных
  div
    a(href='/') К списку
    div(class='task')
      div(class='task__title')= task.title
      div(class='task__description')= task.description
    a(href='/task/edit/' + task.id) Редактировать
